.row.py-5.bg-light
  .col-md-4
    .card.mb-4.bg-light
      %a(href="/radio/rte1")
        %img.mx-auto.d-block(src="/images/rte1.png")
  .col-md-4
    .card.mb-4
      %a(href="/radio/2fm")
        %img.mx-auto.d-block(src="/images/2fm.png")
  .col-md-4
    .card.mb-4
      %a(href="/radio/lyric")
        %img.mx-auto.d-block(src="/images/lyric.png")
  .col-md-4
    .card.mb-4
      %a(href="/radio/rnag")
        %img.mx-auto.d-block(src="/images/rnag.png")
